.localDiv {
  float: left;
  height: 210px;
  width: 266px;
  background-color: blue;
  padding: 10px;
  margin: 1px 1px;
}

.localDiv video {
  height: 190px;
  width: 240px;
}

.remoteDiv {
  margin-top: 90px;
  float: left;
  height: 210px;
  width: 266px;
  background-color: blue;
  padding: 10px;
}

.remoteDiv video {
  height: 190px;
  width: 240px;
  margin-top: -2px
}
